@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

@import './font-awesome/scss/font-awesome';
@import './devicons/css/devicons.scss';

$font-color: #9a9c9f;
body {
  color: $font-color;
  background-color: #35383a;
  font-family: "Mplus 1p", 'Open Sans', serif;
}

h2 {
  text-align: center;
  color: $font-color;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 10px;
}
#navi {
  position: fixed;
  top: 0;
  height: 62px;
  background-color: #262728;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);
  width: 100%;

  #menu {
    padding-top: 1.2em;

    .logo {
      float: left;
      margin-left: 50px;
      letter-spacing: 4px;
      font-size: 1.2em;

      a {
        color: $font-color;
        text-decoration: none;
      }
    }
    ul {
      float: right;
      margin-top: 0;

      li {
        float: left;
        list-style: none;
        margin-right: 50px;

        a {
          color: $font-color;
          text-decoration: none;
          letter-spacing: 4px;
        }
      }
    }
  }
  #menu:after {
    clear: both;
  }
}

#about {
  //position: fixed;
  //top: 100%;
  //left: 0;
  width: 100%;
  height: 50%;
  padding-top: 80px;

  .wrap {
    width: 80%;
    height: 80%;
    margin: 5% auto 20%;

    .image {
      width: 50%;
      height: 80%;
      float: left;
      text-align: center;
    }
    .about {
      width: 50%;
      height: 80%;
      float: left;
      position: relative;
      overflow: hidden;

      .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        padding: 0;
        font-size: 14px;
        overflow: hidden;

        h3 {
          text-align: center;
          margin: 0 auto 30px;
          font-size: 2em;
        }

        ul {
          list-style: none;
          padding-left: 0;
          margin-left: 0;
          padding-top: 0.5em;
          padding-bottom: 0.5em;

          width: 100%;
          border-top: 1px solid $font-color;
          border-bottom: 1px solid $font-color;

          li:before {
            font-family: FontAwesome;
            content: '\f00c';
            margin-right: 0.5em;
            color: rgba(46,231,147,0.85);
          }
        }
        p {
        }
      }
    }
    .about:after {
      clear: both;
    }
    .langs {
      width: 80%;
      height: 20%;
      margin: 5% auto 5%;

      li {
        list-style-type: none;
        float: left;
        margin: 0 15px;

        span {
          color: $font-color;
          font-size: 48px;
        }
      }
    }
    .langs:before,
    .langs:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020";
    }
    .langs:after {
      clear: both;
    }
  }
}

#contact {
  width: 100%;
  height: 40%;
  margin-top: 200px;

  .links {
    width: 450px;
    margin: 1% auto;
    padding: 0;

    li {
      list-style-type: none;
      float: left;
      width: 100px;
      height: 100px;
      margin-left: 45px;

      i {
        color: $font-color;
        font-size: 60px;
      }
    }
  }
  .links:before,
  .links:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  .links:after {
    clear: both;
  }
  .copyright {
    color: $font-color;
    text-align: center;
  }
}