body {
  background-color: #ffefc1; }

h2 {
  text-align: center;
  color: #443b42;
  font-size: 38px;
  font-weight: normal;
  letter-spacing: 12px; }

#navi {
  height: 80px; }
  #navi .logo {
    float: left; }
    #navi .logo a {
      color: #443b42;
      text-decoration: none; }
  #navi ul {
    float: right;
    margin-top: 0; }
    #navi ul li {
      float: left;
      list-style: none;
      margin-right: 30px; }
      #navi ul li a {
        color: #443b42;
        text-decoration: none; }

#about {
  width: 100%;
  height: 100%; }
  #about .wrap {
    width: 80%;
    height: 50%;
    margin: 5% auto 20%;
    overflow: hidden; }
    #about .wrap .image {
      width: 50%;
      height: 100%;
      float: left;
      text-align: center; }
    #about .wrap .about {
      width: 50%;
      height: 100%;
      float: left;
      position: relative;
      overflow: hidden; }
      #about .wrap .about .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        padding: 0;
        font-size: 14px;
        overflow: hidden; }
        #about .wrap .about .text h3 {
          text-align: center;
          margin: 0 auto 30px; }

#skills {
  width: 100%;
  height: 100%; }

#works {
  width: 100%;
  height: 100%; }

#contact {
  width: 100%;
  height: 100%; }
